{% extends 'base.html' %}
{% block title %}  About {% endblock title %}
{% block body %}

<div class="container-fluid ">
    <h1 class="text-capitalize text-center mt-4">About us</h1>
    <hr class="w-25 mx-auto mb-5">
</div>

<div class="row container-fluid mx-auto">

    <div class="container-fluid col-lg-6 col-md-6 col-12">
        <div class="shadow-lg p-1 mb-5 bg-white rounded">
        <img src="static/3.jpg" width="1140px" class="img-fluid my-auto">
    </div></div>
    <div class="container-fluid col-lg-6 col-mg-6 col-12">

        <p class="text-italic">
            Any of us end every day feeling disappointed that we didn’t accomplish
            as much as we wanted to do. Trying harder, long to-do lists,
            and beating ourselves up are common approaches that yield disappointing
            results. We will need focus lists or action.
            Just picking one task and focusing on just that one thing
            until it’s completed. A to-do list with just one task on it reflects a strategic and
            intentional choice about what you will do next, and continue to focus on until it’s done.
            It might feel silly, but writing that one thing down on its own list is the key.
            <hr class="w-60">
            —It makes it a commitment that you’re far more likely to follow through on.
            Make meaningful progress, one task at a time.

        </p>

        <a href="/" type="submit" class="btn btn-outline-dark my-2">Start now add task!!</a>
    </div>


</div>

















{% endblock body %}