{% extends "base.html"   %}
{% block title %}  Home {% endblock title %}

{% block body %}

<div class="container my-4 mb-4">
    <h2 class="mb-4">  Add a ToDo   </h2>
    <hr class="w-25 me-auto mb-4">
    <form action="/" method="POST">

        <div class="mb-3">
            <label for="title" class="form-label">ToDo Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">ToDo Description</label>
            <input type="text" class="form-control" name="desc" id="desc">
        </div>

        <button type="submit" class="btn btn-outline-dark">Add Task</button>
    </form>


    <div class="container my-4 mb-4 col-sm-12">



        {% if all_todo|length == 0 %}
        <div class="jumbotron">
            <h1 class="display-4 text-danger">No task found!</h1>
            <p class="lead ">Add task now....</p>
            <hr class="my-4">
            <p class="mb-5 text-primary">You can use add a todo to add your task title and description.</p>


        </div>

        {% else %}
        <h2 class="mb-4">  Your ToDo's   </h2>
        <hr class="w-25 me-auto mb-4">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Sno</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
        <tbody>
            {% for todo in all_todo %}


            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>

                    <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark mx-1 mb-1 btn-sm">Change</a>
                    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger mx-1 mb-1 btn-sm">Done</a>

                </td>
            </tr>
        {% endfor %}
                     {% endif %}
             </tbody>

        </table>






    </div>

</div>


{% endblock body %}